<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaspSPY"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="de.hhn.softwarelab.raspy.ImageLogsUI.ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.RaspSPY" />
        <activity
            android:name="de.hhn.softwarelab.raspy.ImageLogsUI.LogsMainActivity"
            android:exported="false" />
        <activity
            android:name="de.hhn.softwarelab.raspy.livestreamUI.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RaspSPY"
            android:configChanges="orientation|screenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="de.hhn.softwarelab.raspy.notifications.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT">
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>